@import url('https://fonts.googleapis.com/css?family=Inconsolata|Patua+One');
.footer {
    padding-top: 19px;
    /*color: #777777;*/
    border-top: 1px solid #e5e5e5;
    font-family: 'Inconsolata', monospace;
    margin-top: 10px;
}

.lead {
    font-family: 'Inconsolata', monospace;
}

.page-header {
    font-family: 'Patua One', cursive;
    color: #000000;
}
/*---Top---*/
text {
    font: 12px sans-serif;
}
svg {
    display: block;
}
html, body, svg {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}
#chart1, #chart2 {
    margin: 0px;
    padding: 0px;
    height: 500px;
    width: 700px;
}
.dashed {
    stroke-dasharray: 5,5;
}
/*---Top---*/