/*body {font: 13px Arial;} 
*/
.currency path { 
    stroke: black;
    stroke-width: 1;
    fill: none;
	}

.currency .axis path,
.currency .axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.currency .grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}

.currency .grid path {
      stroke-width: 0;
}