/*body {font: 13px Arial;} 
*/
.currency path { 
    stroke: black;
    stroke-width: 1;
    fill: none;
	}

.currency .axis path,
.currency .axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
