body {font: 13px Arial;} 

path { 
    stroke: black;
    stroke-width: 1;
    fill: none;
	}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
