@import url('https://fonts.googleapis.com/css?family=Inconsolata|Patua+One');
.footer {
    padding-top: 19px;
    /*color: #777777;*/
    border-top: 1px solid #e5e5e5;
    font-family: 'Inconsolata', monospace;
    margin-top: 10px;
}

.lead {
    font-family: 'Inconsolata', monospace;
}

.page-header {
    font-family: 'Patua One', cursive;
    color: #000000;
}
#chart3 .bar {
    fill: steelblue;
}

#chart3 .bar:hover {
    fill: brown;
}

#chart3 .axis--x path {
    display: none;
}

div.tooltip {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    width: 150px;
    height: 50px;
    padding: 5px;
    color: #000000;
    font-size: 12px;
    background: #FFF;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    border: 2px;
    border-radius: 8px;
    pointer-events: none;
}